* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #1f2937;
	font-family: 'Inter', sans-serif;
}

.header {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	margin-top: 115px;
	margin-left: 115px;
	margin-right: 144px;
}

h1 {
	color: #ffffff;
	font-family: 'Karla', sans-serif;
	font-weight: 800;
	line-height: 40px;
	letter-spacing: -1px;
	margin-bottom: 10px;
}

h1 span {
	color: #4adf86;
}

h3 {
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	color: #d5d4d8;
}

button {
	background: #10b981;
	width: 191px;
	height: 42px;
	color: #ffffff;
	position: relative;
	top: 51px;
	display: inline-block;
	position: relative;
	bottom: 30px;
	border-radius: 10px;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	line-height: 24px;
}

hr {
	width: 446px;
	display: inline-block;
	background-color: #2f3e53;
	position: relative;
	top: 85px;
}

.password-boxes {
	display: flex;
	position: relative;
	top: 122px;
}

.password-box {
	width: 211px;
	height: 39px;
	background: #273549;
	margin-right: 24px;
	border-radius: 10px;
	color: #55f991;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 32px;
}
